/* https://dev.to/andrewchmr/awesome-animated-cursor-with-react-hooks-5ec3 */
/* Credit - Andriy Chemerynskiy */
.cursor {
    width: 17px;
    height: 17px;
    background-color: #fefefe;
    border-radius: 100%;
    position: fixed;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: all 150ms ease;
    transition-property: background-color, opacity, transform, mix-blend-mode;
    z-index: 9999;
    mix-blend-mode: difference;
}

.cursor--hidden {
    opacity: 0;
}

.cursor--link-hovered {
    transform: translate(-50%, -50%) scale(1.90);
}

.cursor--clicked {
    transform: translate(-50%, -50%) scale(0.8);
}